
body {
    margin: 0%;
    background-color: rgb(221, 42, 42);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(161, 32, 32);
}

#icon {
    width: 65px;

}
#noticias {
    display: flex;
    justify-content: space-around;
}
.noticia{
    margin: 10 px;
    text-align: center;
    background-color:rgb(0, 0, 0);
    border: 5px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 25px;
}
.img_noticia{
    width: 400px;
    border-radius: 25px;
}