
body {
    margin: 0%;
    background-color: rgb(221, 42, 42);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(161, 32, 32);
}

#icon {
    width: 65px;

}
#noticias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.noticia{
    margin: 20 px;
    text-align: center;
    background-color:rgb(0, 0, 0);
    border: 5px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 25px;
}
.img_noticia{
    width: 400px;
    border-radius: 25px;
    
}
#titulo{
    text-align: center;
    justify-content: space-around;
    display: flex;
    background-color: rgb(0, 0, 0);
    margin: 10px;
    color: crimson;
    border-radius: 25px;
}
.jogador{
    border-left: 25px;
    color: crimson;
    background-color: black;

}
#icon_jogador{
    width: 70px;
    border: 5px solid crimson;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    justify-content: space-around;
    display: flex;
    
    
}
#jogadores{
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

footer {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    
    background-color: black;
    color:  rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}